<a href="https://colab.research.google.com/github/PrathamSherawat/python_program/blob/main/Untitled2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Question 1. Variable declaration , data type implementation , string and indexing

In [ ]:
# Variable declaration and assignment
age = 25
name = "John"
is_student = True

# Data types
# Integer
num1 = 10
num2 = 20

# Floating-point
float1 = 3.14
float2 = 2.718

# String
message = "Hello, world!"

# Boolean
is_true = True
is_false = False

# List (indexed collection of items)
fruits = ['apple', 'banana', 'orange', 'grape']

# Accessing elements in a list by index
print(fruits[0])
print(fruits[2])

# Modifying elements in a list
fruits[1] = 'kiwi'
print(fruits)

# String indexing
text = "Hello, Python!"

print(text[0])
print(text[7])

# Negative indexing
print(text[-1])
print(text[-6])


new_text = text[:7] + 'W' + text[8:]
print(new_text)

apple
orange
['apple', 'kiwi', 'orange', 'grape']
H
P
!
y
Hello, Wython!

Question 2 : Checking the weather given string is palindrome or not

In [ ]:
a =input("Enter string : ")
c=0
for i in a:
  c=c+1
k=0
for i in range(0,c):
  if(a[i]==a[c-i-1]):
    k=k+1
if k==c:
  print("It is palindrome ")
else:
  print("It is not palindrome ")

Enter string : 121
It is palindrome

Question 3 : Sum of Xi**2 where i = 1-10

In [ ]:
X=[1,2,3,4,5,6,7,8,9,10]
Sum = 0
for i in range(0,10):
  Sum = Sum + X[i]**2
print(Sum)

385

Question 4 : Prime number up to *100*

In [ ]:
for i in range(2,101):
  k=1
  for j in range(2,i):
    if (i%j==0):
      k=0
  if (k==1):
    print(i,"\t")

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97

Question 5 : List implementation (using list keyword and random variable, indexing (list inside list))

In [ ]:

list=["A","B","C","D","E"]
l1=["A","B","C","D","E"]
print(list)
for i in l1:
  print(i)
l=[1,2,3,[4,5],6,[7,8]]
print(l[3][1])

['A', 'B', 'C', 'D', 'E']
A
B
C
D
E
5

Question 6:List to String and vice versa(Split,join,map)

In [ ]:
str = "abcdef"
s="My Name Is Aryan"
l=str.split()
l1=s.split()
print(l)
print(l1)

l=['We','have','two','pens']
b=" ".join(l)
print(b)

['abcdef']
['My', 'Name', 'Is', 'Aryan']
We have two pens

Question 7 : Python program to some all the items                               
 a=[10,20,30,40,50]

In [ ]:
a=[10,20,30,40,50]
sum=0
for i in a:
  sum=sum+i
print(sum)

150

Question 8 : Python program to print                                                           
1: Largest number                                                                          
2: Smallest number                                                                  
3: Ascending order                                                                 
4: Descending Order                                                              
x=[5,10,15,1,4,3,100,60,55]

In [ ]:
# Q- 8  :
# Print smallest number,largest number
#Print ascending order, Descending order
x=[5,10,15,1,4,3,100,60,55]
max=5
min=5
c=0
for i in x:
  c=c+1
  if i>max:
    max=i
  if i<min:
    min=i
print(max)
print(min)
for i in range(0,c):
  for j in range(0,c):
    if x[i]<x[j]:
      t=x[i]
      x[i]=x[j]
      x[j]=t

for i in range(0,c):
  for j in range(0,c):
      if x[i]> x[j]:
           t=x[j]
           x[j]=x[i]
           x[i]=t
print(f"ascending order {x}")
print(f"descending order {x}")

100
1
ascending order [100, 60, 55, 15, 10, 5, 4, 3, 1]
descending order [100, 60, 55, 15, 10, 5, 4, 3, 1]

Question 9 : Python program to find list of words that are no longer than '3' from given list of words.
n='3'                                                                            
x=['The','Quick','Brown','Fox']

In [ ]:
x= ['The','Quick','Brown','Fox']
k=0
for i in x:
  k=k+1
for i in range(0,k):
  c=0
  for j in x[i]:
    c=c+1
  if (c>3):
    print(x[i])

Quick
Brown

Question 10 : Fibonacci sequence upto 100 terms

In [ ]:
a=-1
b=1
for i in range(100):
  s = a+b
  a = b
  b = s
  if(s<100):
    print(s,end=" ")

0 1 1 2 3 5 8 13 21 34 55 89

Question 11 : Factorial of a number,eg 10

In [ ]:
n=int(input("EnteEnterrEnter number of which you want Factorial : "))
f = 1
for i in range(1,n+1):
  f=f*i
print(f"factorial is {f}")

EnteEnterrEnter number of which you want Factorial : 5
factorial is 120

Question 12 : Pythagoras Theorem ;

In [ ]:
import math
b=int(input("Enter base of triangle : "))
p=int(input("Enter perpendicular of triangle : "))
h= math.sqrt(b**2+p**2)
print(h)

Enter base of triangle : 3
Enter perpendicular of triangle : 4
5.0

Question 13 : Concatenate two  strings using (+) operator,list and join

In [ ]:
s1="My name is "
s2="ABC"
print(s1+s2)
l=s1.split()
l1=s2.split()
print(" ".join(l+l1))

My name is ABC
My name is ABC

Question 14 : Addition of two Matrices

In [ ]:
a=[[1,2,5],[3,4,6]]
b=[[5,6,7],[8,9,6]]
print("Resultant Matrix : ")
for i in range(0,2):
  for j in range(0,3):
    print(a[i][j]+b[i][j],end=' ')
  print()

Resultant Matrix :
6 8 12
11 13 12

In [ ]:
from pickle import NONE
n1=int(input("Enter number of rows : "))
n2=int(input("Enter number of columns : "))


l=[[None for _ in range(n2)] for _ in range(n1)]
l1=[[None for _ in range(n2)] for _ in range(n1)]


print("Enter elements of Matrix A : ")
for i in range(0,n1):
  for j in range(0,n2):
    l[i][j]=int(input())


print("Enter elements of Matrix B : ")
for i in range(n1):
  for j in range(n2):
    l1[i][j]=int(input())


print("Resultant Matrix : ")
for i in range(0,2):
  for j in range(0,3):
    print(a[i][j]+b[i][j],end=' ')
  print()

Enter number of rows : 3
Enter number of columns : 2
Enter elements of Matrix A :
1
2
2
3
4
5
Enter elements of Matrix B :
6
2
2
2
2
2
Resultant Matrix :
6 8 12
11 13 12

Question 15 : Multiplication of two Matrices

In [ ]:
X = [[12,7,3],
    [4 ,5,6],
    [7 ,8,9]]
Y = [[5,8,1,2],
    [6,7,3,0],
    [4,5,9,1]]

result = [[0,0,0,0],
         [0,0,0,0],
         [0,0,0,0]]

for i in range(len(X)):
  for j in range(len(Y[0])):
       for k in range(len(Y)):
           result[i][j] += X[i][k] * Y[k][j]

for r in result:
   print(r)

[114, 160, 60, 27]
[74, 97, 73, 14]
[119, 157, 112, 23]

Question 16 : Decimal to binary convertion

In [ ]:
n=40
r=""
i=0
while(n!=0):
  r=str(int(n%2))+r
  n=int(n/2)
print(r)

Question 17 : Armstrong number

In [ ]:
n=153
k=str(n)
c=0
for i in k:
  c=c+1
s=0
for i in k:
  s+=int(i)**c
if (n==s):
  print("Armstrong")
else:
  print("Not armstrong")